<<<<<<< HEAD
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  background-image: url("../../public/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
=======
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  background-image: url("../../public/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

>>>>>>> main
